:root {
  --card-border-radius: 0.3rem;
  --color-switch: #000;
  --formpage_bg_url: url("./assets/images/formpage_bg.jpg");

  --color-font: #413b3b;
  --color-font-secondary: black;
  --color-header: black;
  --color-background-shade: #eee;
  --color-background-primary: #F7DEC9;
  --color-background-secondary: white;
  --color-background-secondary-shade: #ffffff;
  --color-background-tertiary: #EEDDDD;
  --color-background-tertiary-shade: #EFF0F0;
  --color-primary: #DD3333;
  --color-primary-secondary: rgb(198, 113, 113);
  --color-card-hover: #DD3333;
  --border: none;
  --color-box-shadow: rgb(226, 226, 226);
  --border-on-click: #e17474;
  --icon-color: #000000;
  --icon-color-active: var(--border-on-click);
  --color-borders-input: rgb(91, 91, 90);
  --color-placeholders: #a2acb4;
  --color-text-secondary: rgb(170, 170, 170);
  --color-step-bg: rgba(255,255,255,0.84);
}

[data-theme="dark"] {
  --card-border-radius: 0.3rem;
  --color-switch: #eee;
  --formpage_bg_url: url("./assets/images/formpage_bg_dark.jpg");

  --color-font: rgb(176, 176, 176);
  --color-font-secondary: #ffffff;
  --color-header: white;
  --color-background-shade: #4d3737;
  --color-background-primary: #c78785;
  --color-background-secondary: #212121;
  --color-background-secondary-shade: #181818;
  --color-background-tertiary: #eedddd89;
  --color-background-tertiary-shade: #212121;
  --color-primary: #DD3333;
  --color-primary-secondary: rgb(198, 113, 113);
  --color-card-hover: rgba(246, 97, 97, 0.776);
  --border: none;
  --color-box-shadow: rgba(226, 226, 226, 0.363);
  --border-on-click: #e17474;
  --icon-color: #e6e6e6;
  --icon-color-active: var(--border-on-click);
  --color-borders-input: rgb(91, 91, 90);
  --color-placeholders: #a2acb4;
  --color-text-secondary: rgb(170, 170, 170);
  --color-step-bg: rgba(33, 33, 33,0.84);
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

h2 {
  color: var(--color-header);
}

h5 {
  font-size: 0.6rem;
  color: var(--color-font);
}

@font-face {
  font-family: "Magistral-Bold";
  src: local("Magistral-Bold"),
    url("./assets/fonts/Magistral/Magistral-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Sarabun-Regular";
  src: local("Sarabun-Regular"),
    url("./assets/fonts/Sarabun/Sarabun-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "PFBeauSansPro-Bold";
  src: local("PFBeauSansPro-Bold"),
    url("./assets/fonts/PFBeauSansPro/PFBeauSansPro-Bold.ttf") format("truetype");
}

h1, h2 {
  font-family: "Magistral-Bold";
}

h3 {
  font-family: "PFBeauSansPro-Bold";
  font-size: 2rem;
  color: var(--color-font-secondary);
}

h4 {
  font-size: 0.9rem;
  font-weight: bold;
  font-family: "PFBeauSansPro-Bold";
  color: var(--color-header);
}

span {
  font-size: 0.85rem;
  font-family: "Sarabun-Regular";
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

body {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  background: var(--color-background-secondary);
  flex-direction: column;
  box-shadow: 0 0 1px grey;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.error {
  color: red;
  margin-top: 0.4rem;
  font-size: 0.9rem;
}

.icon {
  color: var(--icon-color);
}