:root {
  --color-yellow-300: #e8e0d8;
  --color-yellow: #918b7c;

  --color-hover: #bfbf9c;
  --card-border-radius: 0.3rem;

    --font-color: #eee;
  --switch-color: black;
  --background-color: #212121;
  --color-background-secondary: rgb(15, 15, 15);
  --color-primary: rgb(135, 116, 225);
  --search-bg-color: #181818;
  --border: none;
  --border-on-click: #8774e1;
  --hover: #2b2b2b;
  --bg-chat-1: black;
  --bg-chat-2: black;
  --bg-chat-3: black;
  --bg-chat-4: black;
  --stroke-color: url(#stroke-gradient);
  --icon-color: #aaaaaa;
  --icon-color-active: var(--border-on-click);
  --header-border: black;
  --color-background-secondary-accent: rgb(16, 15, 16);
  --color-borders-input: rgb(91, 91, 90);
  --color-placeholders: #a2acb4;
  --color-text-secondary: rgb(170, 170, 170);
  --color-background-compact-menu: rgb(33, 33, 33, 0.867);
  --color-background-compact-menu-hover: rgb(0, 0, 0, 0.4);
  --color-default-shadow: rgb(16, 16, 16, 0.612);
  --color-primary-shade: rgb(123, 113, 198);
  --checkbox-fill: var(--border-on-click);
  --bg-hover: #322525;
  --sec-bg: #181818;
  --gradient-bg: rgb(182, 168, 225);
  --msgtextbox-color: #3A3B3C;
  --chat-ib-color-self: rgb(135, 116, 225);
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
  margin: 0;
  padding: 0;
}

h4 {
  font-size: 0.9rem;
  font-weight: bold;
  font-family: "PFBeauSansPro-Bold";
}

h5 {
  font-size: 0.6rem;
  color: rgb(176, 176, 176);
}

@font-face {
  font-family: "Magistral-Bold";
  src: local("Magistral-Bold"),
    url("./assets/fonts/Magistral/Magistral-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Sarabun-Regular";
  src: local("Sarabun-Regular"),
    url("./assets/fonts/Sarabun/Sarabun-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "PFBeauSansPro-Bold";
  src: local("PFBeauSansPro-Bold"),
    url("./assets/fonts/PFBeauSansPro/PFBeauSansPro-Bold.ttf") format("truetype");
}

h1, h2 {
  font-family: "Magistral-Bold";
}

h3 {
  font-family: "PFBeauSansPro-Bold";
  font-size: 2rem;
}

span {
  font-size: 0.85rem;
  font-family: "Sarabun-Regular";
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
  /* margin-block-start: 1em;
  margin-block-end: 1em; */
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

body {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  background: white;
  flex-direction: column;
  box-shadow: 0 0 1px grey;
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
  box-sizing: border-box;
}

.icon {
  color: black;
}

html {
  scroll-behavior: smooth;
}