.card-container {
  height: fit-content;
  padding: 1.6rem;
  box-shadow: 0 0 10px var(--color-box-shadow);
  display: flex;
  flex-direction: column;
  justify-self: center;
  border-radius: var(--card-border-radius);
  transition: all 300ms ease-in-out;
  cursor: pointer;
  background: var(--color-background-secondary-shade);
}

@media screen and (min-width: 1025px) {
  .card-container {
    width: 12rem;
  }
}

@media screen and (max-width: 1024px) {
  .card-container {
    width: fit-content;
  }
}

.card-container:hover {
  background: var(--color-card-hover);
  transform: scale(92%);
}

.card-container:hover h4,
.card-container:hover span {
  color: white;
}

.card-container h4, .card-container span {
  color: var(--color-font-secondary);
}

.card-container h4 {
  text-decoration: underline 0.15em rgba(255, 255, 255, 0);
  transition: text-decoration-color 300ms;
}

.card-container h4:hover {
  cursor: pointer;
  text-decoration-color: rgba(255, 255, 255, 1);
}

.card-image {
  width: 4rem;
  object-fit: contain;
  margin-bottom: 0.5rem;
  height: fit-content;
}

.card-image img {
  width: 100%;
  aspect-ratio: 1 / 1;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 1rem;
  flex-wrap: wrap;
}

.card-content span {
  word-break: break-word;
}
