.thumbnail-container {
  width: 100%;
  
  position: relative;
  background: #F7DEC9;
  background-image: linear-gradient(to bottom right, white, #f5d4ba);
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .thumbnail-container {
    flex-direction: column;
    justify-content: start;
    align-items: start;
  }

  .thumbnail-titles h1 {
    font-size: 1.6rem;
  }
  
  .thumbnail-titles h2 {
    font-size: 1.4rem;
  }
  
  .thumbnail-titles {
    margin-top: 10rem;
  }

  .checkpoint span {
    font-size: 1rem;
  }

  .thumbnail-button h4 {
    font-size: 1rem;
  }
}


@media screen and (max-width: 899px) and (min-width: 768px) {
  .thumbnail-container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
  }

  .thumbnail-titles h1 {
    font-size: 3rem;
  }
  
  .thumbnail-titles h2 {
    font-size: 2.2rem;
  }
  
  .thumbnail-titles {
    margin-top: 10rem;
  }

  .checkpoint span {
    font-size: 1.4rem;
  }

  .thumbnail-button h4 {
    font-size: 1.4rem;
  }

  .thumbnail-image {
    width: 80vw;
  }
}

@media screen and (max-width: 1024px) and (min-width: 900px) {
  .thumbnail-container {
    flex-direction: column;
    justify-content: start;
    height: fit-content;
  }

  .thumbnail-titles h1 {
    font-size: 3.4rem;
  }
  
  .thumbnail-titles h2 {
    font-size: 2.6rem;
  }
  
  .thumbnail-titles {
    margin-top: 8rem;
  }

  .checkpoint span {
    font-size: 1.2rem;
  }

  .thumbnail-button h4 {
    font-size: 1.2rem;
  }

  .thumbnail-image {
    max-width: 60%;
  }
  
  .thumbnail-image img {
  }
}

@media (min-width: 1025px) {
  .thumbnail-container {
    height: 100vh;
  }

  .thumbnail-titles h1 {
    font-size: 2.4rem;
  }
  
  .thumbnail-titles h2 {
    font-size: 2rem;
  }

  .thumbnail-image {
    height: 100vh;
  }
}

.thumbnail-titles {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  row-gap: 0.4rem;
}

.thumbnail-titles h1 {
  color: #DD3333;
}

.checkpoints-container {
  display: flex;
  flex-direction: column;
  row-gap: 0.8rem;
  margin-top: 0.4rem;
}

.checkpoint {
  display: flex;
  gap: 0.6rem;
  align-items: center;
}

.thumbnail-button {
  background: rgb(248, 201, 199);
  border-radius: var(--card-border-radius);
  width: fit-content;
  padding: 0.8rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  cursor: pointer;
  animation: zoom-in-zoom-out 1.75s ease infinite;
  box-shadow: 1 1 1px gray;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1.2);
  }
  100% {
    transform: scale(1, 1);
  }
}

.thumbnail-image {
  object-fit: cover;
  overflow: hidden;
  display: flex;
  justify-content: end;
  aspect-ratio: inherit;
}

.thumbnail-image img {
  width: 100%;
}

.register-form {
  display: flex;
  flex-direction: column;
  row-gap: 0.2rem;
}

.register-form label {
  font-weight: bold;
}

.register-form input {
  padding: 0.4rem;
}

.register-form input:focus {
  outline: none;
  padding: 0.4rem;
}

.otp-input {
  width: 3rem !important;
  height: 3rem;
  margin: 0;
  font-size: 2rem;
  border-radius: 4px;
  border: none;
  outline: none;
  box-shadow: 0 0 2px grey;
}

.otp-input:focus {
  outline: none;
}
