.advantageCards-container {
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: fit-content;
  justify-content: space-evenly;
  justify-items: center;
  align-content: space-evenly;
  align-items: center;
  background: white;
}